<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentInformationLibrary.Properties.Settings.gradingsystemConnectionString"
            connectionString="server=localhost;user id=root;database=gradingsystem"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>