<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserInterface.Properties.Settings.gradingsystemConnectionString"
            connectionString="server=localhost;user id=root;database=gradingsystem"
            providerName="MySql.Data.MySqlClient" />
        <add name="UserInterface.Properties.Settings.grade_sheet_importer_connection_string"
            connectionString="server=localhost;user id=root;password=D84uAJJZXnMLBkIp;persistsecurityinfo=True;database=gradingsystem"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>